.container {
    -webkit-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    border: 1px solid black;
}

container-img {
    width: 100%;
}

.col-3 .container-img img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.precio {
    overflow: hidden;
}

.contenedor-oferta {
    widows: 30%;
    overflow: hidden;
}

.img-oferta {
    margin-right: 10%;
    animation-delay: 1s;
    width: 30%;
    float: right;
    position: relative;
}

.img-oferta:hover {
    transform: scale(1.1);
}

.precio {
    margin-bottom: 30px;
}

.link-compra {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
    transition: all .5s;
}

.link-compra:hover {
    transform: scale(1.1);
}