.contenedor-titulo h3,
.contenedor-titulo h4 {
    -webkit-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
}

.card {
    -webkit-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 1);
    border: none;
    background: #630505;
}

.card_book {
    min-width: 312px;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

p.card-text,
h4.card-title {
    min-height: 96px !important;
}

.card_book .card {
    min-height: 312px;
}

.card-title {
    color: #ffffff;
    cursor: pointer;
}

.card_book .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card-text {
    color: #ffffff;
}

div.container-precio-idioma {
    display: flex;
    justify-content: space-between;
}

.badge-info {
    color: black;
}

.card {
    animation-duration: .7s;
}

img.img-fluid {
    width: 100%;
    max-width: 200px;
    transition: all .4s;
}

img.img-fluid:hover {
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.82);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.82);
    transform: scale(1.1);
}