.imgUsuario {
    padding: 0px;
    margin: 0px;
    margin: 2px solid white;
    border-radius: 50%;
    ;
}

.imgUsuario img {
    border-radius: 50%;
}

.dropdown-menu {
    animation-duration: .5s;
}