<footer class="contenedor bg-dark footer">
    <div class="contactos">
        <ul>
            <li> Telefono: <a href="tel">(261) 123-456</a></li>
            <li>Fax: 123-456</li>
            <li> <a href="mailto:fakeemail@fake.com">Email: fakeemail@fake.com</a></li>
        </ul>
    </div>
    <div class="redes">
        <ul>
            <li><a href="https://github.com/marcelocattani" class="text-light"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://twitter.com/" class="text-light"><i class="fab fa-twitter"></i> Twiter</a></li>
            <li><a href="https://twitter.com/" class="text-light"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
    </div>
    <div class="propio">
        <li><a href="https://github.com/marcelocattani"><i class="fab fa-github"></i> Mi Github</a></li>
        <li>marcelocattani96@gmail.com</li>
        <li>&copy; CATTANI, Marcelo Omar</li>
    </div>
</footer>